# Configuración del editor
.vscode/

# Archivos sensibles
backend/users.json
.env
.env.*

# Directorios de dependencias
node_modules/

# Archivos temporales
*.log
*.tmp
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db
