* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --imagen-fondo: url('../assets/img/fondo.jpg');
    --color-oscuro: #10212e;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: var(--imagen-fondo);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: 'Inter', sans-serif;
}

/********************************************/
/*                  HEADER                  */
/********************************************/


.header_navigation {
    width: 100%;
    height: 100%;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: rgba(230, 230, 230, 0.877);
    display: flex;
    align-items: center;
}

.logo img {
    width: 8rem;
    cursor: pointer;
}

.search {
    margin: 0 auto;
}

.img_user {
    display: inline-flex;
}

.img_user img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
}

/********************************************/
/*                   MAIN                   */
/********************************************/

/* Contenedor principal */
.main {
    flex: 1;
    display: flex;
    position: relative;
    height: calc(100vh - 4rem);
    /* Resta header + footer si miden 2rem cada uno */
}

/********************************************/
/*                  SIDEBAR                 */
/********************************************/

.menu-button-wrapper {
    width: 3rem;
    background: #9c9c9c;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 0.5rem;
    z-index: 3;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.menu-button img {
    width: 100%;
    height: 100%;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15rem;
    background: #444;
    color: white;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 2;
}

.sidebar.activo {
    left: 3rem;
    transform: translateX(0);
}

/*                 Navigator                */

.navigator {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
}

.navigator ul {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.navigator ul li {
    cursor: pointer;
}

/********************************************/
/*                CONTAINER                 */
/********************************************/

.content {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 1rem;
}

/* .content.blur-activo .inser {
    filter: blur(4px);
    transition: filter 0.3s ease;
} */

.inser {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.425);
    color: rgb(0, 0, 0);
    padding: 1rem;
    overflow: auto;
    transition: filter 0.3s ease;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*                 Modal                   */

/* Fondo oscurecido */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* oscurecido */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: opacity 0.3s ease;
}

/* Contenido centrado */
.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    position: relative;
}

/* Botón de cierre */
.close-button {
    position: absolute;
    top: 12px;
    right: 16px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Control de visibilidad */
.hidden {
    display: none;
}



/*             Añadir miembro               */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************************************/
/*                  FOOTER                  */
/********************************************/
.footer {
    height: 4rem;
    background-color: rgba(230, 230, 230, 0.877);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: black;
}